{
  "presets": [["@babel/env", { "targets": { "node": 6 } }]],
  "plugins": [
    ["transform-react-jsx", {
      "pragma": "m"
    }],
    "lodash",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from"
  ]
}